<div ng-controller="G42UmbracoGrease404TrackerDashboardController">
    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="umb-headline-editor-wrapper span12">
                <h1 class="ng-binding">{{model.Name}}</h1>
            </div>
        </umb-header>
        <umb-tab-view>
            <umb-tab id="tab1" rel="content" class="_404-tracker-dashboard" style="display: block;">
                <div class="umb-pane">
                    <div>
                        <label><strong>Minimum Count</strong></label>
                        <input type="text" ng-model="model.countFilter"/>
                        <button class="btn btn-default" ng-click="getResults()">Update</button>
                        <a class="grease-section-settings-button pull-right" ng-click="toggleSettings()" prevent-default>Settings</a>
                    </div>

                    <div class="grease-section-settings-wrapper">
                        <div ng-show="showSettings" class="grease-section-settings">
                            <div>
                                <label><strong>Days to retain</strong></label>
                                <input type="text" placeholder="90" ng-model="model.config.daysToRetain"/>
                                <small>Enter a number of days to retain 404 logging information.</small>
                            </div>
                            <button class="btn btn-success pull-right" ng-click="save()" ng-disabled="isSaving">Save</button>
                        </div>
                    </div>

                    <div class="loading" ng-show="isLoading">
                        <img src="/App_Plugins/G42UmbracoGrease/Assets/Images/loader.gif" />LOADING...
                    </div>

                    <table ng="!isLoading" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Domain</th>
                            <th>URLS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="!model.data || model.data.length == 0">
                            <td colspan="2">There are no results.</td>
                        </tr>
                        <tr ng-repeat="data in model.data">
                            <td>{{data.domain}}</td>
                            <td>
                                <table class="url-table">
                                    <tr>
                                        <th>Path</th>
                                        <th>Last Visited</th>
                                        <th>Count</th>
                                    </tr>
                                    <tr ng-repeat="url in data.urls">
                                        <td>{{url.path}}</td>
                                        <td class="url-last-tried">{{url.lastVisited}}</td>
                                        <td class="url-count">{{url.count}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</div>